<module>
	<rawname>blacklistloser</rawname>
	<repo>standard</repo>
	<name>Blacklist Loser</name>
	<version>13.0.1</version>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>
    Send someone here it blacklists their callerid then hangsup
	</description>
	<changelog>
		*13.0.1* This might work
	</changelog>
 	<supported>
 		<version>13.0</version>
 	</supported>
</module>
